annotated-types==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
casbin==1.35.0 ; python_version >= "3.10" and python_version < "4.0"
casbin-async-sqlalchemy-adapter==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
greenlet==3.0.3 ; python_version >= "3.10" and python_version < "4.0"
mypy==1.8.0 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
pydantic==2.6.0 ; python_version >= "3.10" and python_version < "4.0"
pydantic-core==2.16.1 ; python_version >= "3.10" and python_version < "4.0"
simpleeval==0.9.13 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy==2.0.25 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy[asyncio,mypy]==2.0.25 ; python_version >= "3.10" and python_version < "4.0"
sqlmodel==0.0.14 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
